<!DOCTYPE html>
<html>
<head>
    <title>Asset Upload</title>
</head>
<body>
    <h2>Asset Upload Form</h2>
    <form action="http://localhost:8080/asset/upload" method="post" enctype="multipart/form-data">
        <label>Asset Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Uploader Name:</label><br>
        <input type="text" name="uploader"><br><br>

        <label>Price:</label><br>
        <input type="text" name="price"><br><br>

        <label>Category:</label><br>
        <input type="text" name="category"><br><br>

        <label>Subcategory:</label><br>
        <input type="text" name="subcategory"><br><br>

        <label>Thumbnail:</label><br>
        <input type="file" name="thumbnail"><br><br>

        <label>File:</label><br>
        <input type="file" name="file"><br><br>

        <input type="submit" value="Upload">
    </form>
</body>
</html>
