{{template "header.html"}}
<h1 class="title">{{.title}}</h1>
<form method="post">
  <label>Asset Name:</label><br>
  <input type="text" name="name"><br>

  <label>Uploader Name:</label><br>
  <input type="text" name="uploader"><br>

  <label>Price:</label><br>
  <input type="text" name="price"><br>

  <label>Category:</label><br>
  <input type="text" name="category"><br>

  <label>Subcategory:</label><br>
  <input type="text" name="subcategory"><br>

  <label>Thumbnail:</label><br>
  <input type="file" name="thumbnail"><br>

  <label>File:</label><br>
  <input type="file" name="file"><br>

  <input type="submit" title="Upload">
</form>
{{template "footer.html"}}
